body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*background-color: rgb(202, 255, 127);*/ 
}
textarea {
    font-family: monospace;
    display: block;
}
.titlebar1 {
  font-size: 32px;
  color: orange;
  font-weight:bold;
  text-align: center;
}
.titlebar2 {
  font-size: 15px;
}
.titlebar3 {
  font-size: 25px;
  color: yellow;
}

main{
  background: black;
  color: white;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  /*line-height:30px;*/
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}
.title{
  flex-direction: row;
  flex-wrap: nowrap;
  display:flex;
  justify-content:space-between;
  
}
.titlebar{
  flex-direction: column;
  flex-wrap: wrap;
 
 
}
.flex-button{
  /*display: flex;*/
  flex-direction: column;
  flex-wrap: nowrap;
  width: 300px;
  border-radius: 1.25em;

  /*text-align: center;*/
}


.option_win {
  /*親要素*/
  border-radius: 0.25em;
  position: relative;
  background: rgb(179, 177, 174);
  height: 70px;
  text-align: center;
  color: blue;
  font-weight: bold;


}
.sub_win{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 0.25em;
}

#test-output {
  border: 1px inset;
  border-radius: 0.25em;
  padding: 0.25em;
  max-height: 30em;
  overflow: auto;
  white-space: break-spaces;
  display: flex; flex-direction: column;
  font-family: monospace;
  background-color:orangered;
}
#test-output.reverse {
    flex-direction: column-reverse;
}

.option_win p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  width: 100px;
  text-align: center;/*一応BOX内の文字も中央寄せ*/
  color: red;
}
