body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  background: white;
  color: gray;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  width: 50%;

  top: 50%;
  left: 50%;
  /*margin-right: -50%;*/
  transform: translate(-50%, -50%)
}

#stocks_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*親要素*/
  border-radius: 0.25em;
  position: static;
  background: rgb(78, 78, 78);

  width: 95%;
  text-align: center;
  font-weight: bold;
  /*margin: 15 auto;*/
  margin: 15px;
  padding: 10px 5px 10px;
  /* [上]、[左右]、[下]の順に余白を指定 */
  /*font-size:16px;*/
  /*line-height:small;*/
}

#average_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*親要素*/
  border-radius: 0.25em;

  background: rgb(78, 78, 78);
  height: 95px;
  width: 95%;
  text-align: center;
  font-weight: bold;
  /*margin: 15 auto;*/
  margin: 15px;
  padding: 10px 0px 10px;
  /* [上]、[左右]、[下]の順に余白を指定 */
  /*font-size:16px;*/
  /*line-height:small;*/
}

#market-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*親要素*/
  border-radius: 0.25em;
  position: static;
  background: rgb(78, 78, 78);
  /*height: 105px;*/
  /*width: 95%;*/
  text-align: center;
  /*font-weight: bolder;*/
  /*margin: 15 auto;*/
  margin: 15px;
  /*padding: 10px 5px 10px;*/
  /* [上]、[左右]、[下]の順に余白を指定 */
  /*font-size:16px;*/
  /*line-height:small;*/

}

#listview-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 0.25em;
  /*親要素*/
  border-radius: 0.25em;
  /*position: static;*/
  background:black;
  height: 250px;
  /*width: 95%;*/
  /*text-align: left;*/
  /*font-weight: bold;*/
  /*margin: 0 auto;*/
  margin: 10px;
  /*box-sizing: border-box;*/
  overflow-y: auto;
  /* 必要なときだけ縦方向のスクロールバーを表示 */
  /*padding: 5px 5px 5px;*/
  /* [上]、[左右]、[下]の順に余白を指定 */
  /*font-size: 16px;*/
  /*line-height: small;*/

}



.item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
  font-weight: bold;
  background: grey;
  border-radius: 0.25em;
  margin: 10px;
}
.Code-circle {
  /*display: inline-block;*/
  padding: 15px 15px 15px 1px;
  /* [上]、[左右]、[下]の順に余白を指定 */
  width: 50px;
  height: 80px;

 
}
.code {
  display: inline-block;
  width: 60px;
  height: 60px;
  /*position: absolute;*/
  border-radius: 50%;
  background: purple;
  text-align: center;
  line-height: 60px;
}

span {
  margin-left: 4rem;
}

span1 {
  margin-left: 1.5rem;
}
.Market {
  /*display: inline-block;*/
  /*display: flex;*/
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px 15px 15px 1px;
  /* [上]、[左右]、[下]の順に余白を指定 */
  width: 70%;
}