body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  background: black;
  color: white;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  width: 45%;

  top: 50%;
  left: 50%;
  /*margin-right: -50%;*/
  transform: translate(-50%, -50%)
}
#listview-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 0.25em;
  /*親要素*/
  border-radius: 0.25em;
  /*position: static;*/
  background:red;
  height: 250px;
  width: 95%;
  /*text-align: left;*/
  /*font-weight: bold;*/
  /*margin: 0 auto;*/
  margin: 15px;
  /*box-sizing: border-box;*/
  /*overflow-y: auto;*/ /* 必要なときだけ縦方向のスクロールバーを表示 */
  /*padding: 5px 5px 5px;*/
  /* [上]、[左右]、[下]の順に余白を指定 */
  /*font-size: 16px;*/
  /*line-height: small;*/

}