body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    width: 45%;
    top: 50%;
    left: 50%;
    /*margin-right: -50%;*/
    transform: translate(-50%, -50%)
  }
  
  .stocks_container {
    /*親要素*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 0.25em;
  
    position: static;
    background: rgb(250, 250, 249);
    height: 50px;
    text-align: left;
    color: rgb(78, 76, 76);
    font-weight: bold;
    width: 85%;
    margin: 0 auto;
    /*max-width: 500px;*/
    margin: 15px;
    padding: 5px 30px 5px;
    /* [上]、[左右]、[下]の順に余白を指定 */
    vertical-align: middle;
  }
  img{
    background-image: url(R.png);
  
    width:200px;
    height:100px;
    }
  
  #text-center {
    color: orange;
    font-size: 40px;
    /* 文字サイズ指定 */
  }
  
  #refetch-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #ffa500;
    border-radius: 50%;
    text-align: right;
    margin-left: auto;
  }
  
  
  /*//////*/
  
  .average_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*親要素*/
    border-radius: 0.25em;
    position: static;
    background: rgb(78, 78, 78);
    height: 95px;
    width: 95%;
    text-align: center;
    font-weight: bold;
    /*margin: 15 auto;*/
    margin: 15px;
    padding: 10px 5px 10px;
    /* [上]、[左右]、[下]の順に余白を指定 */
    /*font-size:16px;*/
    /*line-height:small;*/
  }
  
  .circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: green;
    text-align: center;
    line-height: 80px;
  }
  
  span {
    margin-left: 4rem;
  }
  
  .dow_circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: green;
    text-align: center;
    line-height: 80px;
  }
  
  span {
    margin-left: 4rem;
  }
  
  .icon {
    background: black;
    /*display: flex;*/
    /*flex-direction: column;
    flex-wrap: nowrap;*/
    position: static;
 
    padding: 0px 0px 0px;
    /* [上]、[左右]、[下]の順に余白を指定 */
  
    height: 95px;
    width: 50px;
    /*line-height:small;*/
  }
  
  .Price-container {
    /*display: flex;*/
    flex-direction: column;
    flex-wrap: nowrap;
    position: static;
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px;
    /* [上]、[左右]、[下]の順に余白を指定 */
    font-size: 16px;
    /*line-height:small;*/
  }
  
  #dow_std {
    color: aqua;
  }
  
  #nk_std {
    color: aqua;
  }
  
  
  .market-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 0.25em;
    /*親要素*/
    border-radius: 0.25em;
    position: static;
    background: rgb(78, 78, 78);
    height: 95px;
    width: 85%;
    text-align: left;
    font-weight: bold;
    /*margin: 0 auto;*/
    margin: 15px;
    padding: 5px 5px 10px;
    /* [上]、[左右]、[下]の順に余白を指定 */
    font-size: 16px;
    line-height: small;
  
  }
  #Market {
    color: gray;
    font-size:  30px;    /* 文字サイズ指定 */
  }
  #Market-price {
    color:yellow;
   
  }
  
  .capital-container {
    /*display: flex;*/
    flex-direction: column;
    flex-wrap: nowrap;
    position: static;
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px;
    /* [上]、[左右]、[下]の順に余白を指定 */
    font-size: 16px;
    /*line-height:small;*/
  
  }
  
  
  .listview-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 0.25em;
    /*親要素*/
    border-radius: 0.25em;
    /*position: static;*/
    background: rgb(78, 78, 78);
    height: 95px;
    width: 95%;
    /*text-align: left;*/
    /*font-weight: bold;*/
    /*margin: 0 auto;*/
    margin: 15px;
    /*padding: 5px 5px 5px;*/
    /* [上]、[左右]、[下]の順に余白を指定 */
    /*font-size: 16px;*/
    /*line-height: small;*/
  
  }
  .Code-circle {
    /*display: inline-block;*/
     padding: 15px 15px 15px 1px;
    /* [上]、[左右]、[下]の順に余白を指定 */
    width: 15%;
  }
  .Market {
    /*display: inline-block;*/
    /*display: flex;*/
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px 15px 15px 1px;
    /* [上]、[左右]、[下]の順に余白を指定 */
    width: 70%;
  }
  #Previous {
    display: flex;
    border-radius: 5px;
    margin: 15px;
    padding: 20px;
    /* [上]、[左右]、[下]の順に余白を指定 */
    box-sizing: border-box;
    border: 1px solid #68779a;
    background-color:red;
    cursor: pointer;
    width: 100px;
    font-size: 20px;
  }


  

  #code {
    /*display: inline-block;*/
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    background: purple;
    text-align: center;
    line-height: 80px;
   
  }
  
  #test-output.reverse {
    flex-direction: column-reverse;
  }
  
  .option_win p {
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    text-align: center;
    /*一応BOX内の文字も中央寄せ*/
    color: red;
  }